<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form>
              
                <fieldset>
                 <legend>You Work Experience:</legend>
                    Company&ensp;&ensp;:
                   <input type="text"> <br/> <br/>
                 
                
                    Position &ensp;&ensp;&ensp;:
                   <input type="text">
                   <br/> <br/>

                   City&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;:
                   <input type="text">
                   <br/> <br/>

                Description&ensp;:
                  <input type="text">
                  <br/> <br/>

                 Time Period:
                  <input type="checkbox" id="current" onclick="checkState()" />Currently working here <br/> <br/>
                  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                  <input type="date" name="bday" id="startWork"/> <span id="msg">to present</span><br/> <br/> 
                  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                  <input type="date" name="bday" id="endWork"/> <br/> <br/>
               
                  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                 <button>Save</button>
                </fieldset>
               </form>

               <script src="../script/form.js"></script>
</body>
</html>