<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   
</head>
<body>
        <form>
              
                <fieldset>
                 <legend>You Work Experience:</legend>
                    Company&ensp;&ensp;:
                   <input name="search" id="work" onkeyup="myFunction();" type="text"> <br/> <br/>
                    Position &ensp;&ensp;&ensp;:
                   <input type="text">
                   <br/> <br/>

                   Experience&ensp;&ensp;:
                    <select id="exp">
                        <option value="">Select Experience </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                   <br/> <br/>

                Description&ensp;:
                  <input type="text">
                  <br/> <br/>

                 Time Period:
                  <input type="checkbox" id="current" onclick="checkState()" />Currently working here <br/> <br/>
                  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                  <input type="date" name="bday" id="startWork"/> <span id="msg">to present</span><br/> <br/> 
                  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                  <input type="date" name="bday" id="endWork"/> <br/> <br/>
               
                  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <input type="button" value="Save" onclick="SubmitData()" /> 
                </fieldset>
               </form>



               <div onclick="DivClicked();">
                <input type="button" value="Save" onclick="ButtonClick();" />
               </div>

            <script src="../script/form.js"></script>
              
</body>
</html>