<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form>
                <button>Add Work</button>
                <fieldset>
                 <legend>You Work Experience:</legend>
                 <button id="close" style="margin-left:1300px;">x</button><br>
                 <table>
                 <tr>
                     <td>Company:</td>
                   <td><input type="text"></td>
                 </tr>
                 <tr>
                     <td>Position:</td>
                   <td><input type="text"></td>
                 </tr>
                 <tr>
                     <td>City:</td>
                   <td><input type="text"></td>
                 </tr>
                 <tr>
                     <td>Description:</td>
                   <td><input type="text"></td>
                 </tr>
                 <tr>
                     <td>Time Period:</td>
                   <td><input type="date" name="bday"></td>
                 </tr>
                 <tr>
                     <td>Finished:</td>
                   <td><input type="date" name="bday"></td>
                 </tr>
                 </table>
                 <input type="checkbox" name="">Currently working<br>
                 <button>Save</button>
                </fieldset>
               </form>
</body>
</html>