<html>
    <head>
        <title>Dom Manupulation  with js </title>
    </head>

    
    <body>
            <select id="payment" onchange="paymentChange(this.value)">
                    <option value=""> Select Payment Method </option>
                    <option value="1">Checkout via Payal</option>
                    <option value="2">Checkout via bKash </option>
                    <option value="3">Check via Cheque</option>=
            </select>

            <div id="paymentFrm"> </div> 



            <br/><br/><br/><br/>
           

                <select id="country" onchange="countryChange(this.value)">
                    <option value="">Country </option>
                    <option value="usa">USA</option>
                    <option value="uk">UK</option>
                    <option value="bd">BD</option>
                    <option value="india">India</option>
                </select>
                <div id="state">
                </div>
                <div id="city"> 

                </div>
            <br><br> 

    </body>

    <script type="text/javascript" src="../script/input.js"></script>
    
</html>